@font-face {
    font-family: 'THESANSARABIC';
    src: url(../fonts/THESANSARABIC.ttf) format('truetype');
}


@font-face {
    font-family: 'TRADITIONALARABIC';
    src: url(../fonts/Traditional-Arabic.ttf) format('truetype');
}


.rtl *:not(span):not(p) {
    direction: rtl;
    font-family: 'THESANSARABIC', sans-serif;
}

.rtl p {
    font-family: 'TRADITIONALARABIC';
    font-size: 29px !important;
    line-height: 1.9;
    font-weight: 600;
}

.rtl strong {
    font-family: 'TRADITIONALARABIC' !important;

}

.rtl span {
    font-family: 'TRADITIONALARABIC' !important;
    font-size: 24px;

}

.rtl label {
    font-family: 'TRADITIONALARABIC' !important;
    font-size: 22px;
    font-weight: 600;
}

.rtl .form-select {
    background-position: left.75rem center;
}

.rtl .section-header {
  text-align: right;
  padding-bottom: 40px;
}


.rtl .section-header h1 {
    font-weight: 500;
}

.rtl .footer .footer-top .footer-links ul a {
    font-weight: 500;
}

.rtl .qualite h1 {
    margin-bottom: 20px;
    font-weight: 500;
}

.rtl .satisfaction-client h3 {
    font-weight: 500;
}

.rtl .disponibilite h3 {
    font-weight: 500;
}
.rtl .features .feture-tabs .tab-content h4 {
    font-size: 29px;
    font-family: 'TRADITIONALARABIC' !important;
}

.rtl .section-header p {
    font-size: 38px !important;
}

.rtl .blog .entry .entry-title {
    font-size: 28px;
    font-weight: 500;
}

.rtl .blog .entry-content p{
    font-weight: 500;
    font-size: 23px !important;

}

.rtl .products p{
    text-align: center;
    font-size: 24px !important;
    font-weight: 500;
}

.rtl .products h3{
    font-weight: 500;
}

.rtl .product-detail .uses-text {
    font-size: 40px;
}

.rtl .products .btn-buy {
    font-family: 'TRADITIONALARABIC';
    font-weight: 600;
    font-size: 21px;

}

.rtl #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    font-family: boxicons !important;
}



.rtl .category .category-btn h4 {
    font-family: 'TRADITIONALARABIC';
}

.rtl #header * {
    direction: ltr !important;
}

.rtl .navbar a, .rtl .navbar a:focus {
    font-size: 22px;
    font-family: 'THESANSARABIC';
    font-weight: 100;
}

.rtl .navbar-expand a,
.rtl .navbar-expand a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
}
.rtl .navbar-expand span {
    font-size: 19px!important;
    font-family: "Open Sans", sans-serif;
}

.rtl .logo-nav {
    margin-left: 30px;
}

.rtl p {
    text-align: right;
}

.rtl .services .service-box span, .rtl .section-header p {
    margin-right: 29px;
}

.rtl .confiance-qsn {
    direction: ltr !important;

}

@media (min-width: 1199px) {
    .rtl .text-confiance {
        float: left;
    }
}

.rtl .footer .footer-top h4 {
    font-size: 22px;
    font-weight: 100;
}

.rtl .footer .footer-top .footer-links ul li {
    font-size: 18px;
}

/* {
    margin-right: 10px;
} */