        .bg-home {
            background: #e6e6ff;
        }

        #hero::before {
            content: unset;
        }

        #hero p {
            width: 100% !important;
        }

        .bg-about {
            background: url('../img/elements/element-rana.png');
            background-position: right;
            min-height: 366px;
            background-repeat: no-repeat;
        }

        @media (max-width: 1000px) {
            .bg-about {
                background-position: center !important;
            }
        }

        .header {
            position: absolute !important;
        }

        @media (min-width: 1024px) {

            #hero .carousel-control-prev,
            #hero .carousel-control-next {
                width: 0%;
            }

            .about .col-lg-12 {
                padding: 0 80px;
            }
        }

        #hero p {
            text-align: start;
            width: 80%;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
            margin: 0 auto 0px auto;
            color: #fff;
        }



        .brand {
            position: relative;
            left: 50%;
            margin-left: -50px !important;
            display: block;
        }

        .text-slide {
            margin: 200px 0px 0px 100px;
        }

        #mynavbar {
            margin: -15px 30px;
        }

        .btn-comandez {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 26px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 17px 40px;
            border-radius: 50px;
            border: 3px solid #fff;
            border-top: none;
            transition: 0.5s;
            line-height: 1;
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
            background: linear-gradient(0deg, rgba(127, 5, 148, 1) 0%, rgba(165, 13, 194, 1) 100%);
            color: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        .icon-cmnd {
            max-height: 30px;
            margin-right: 20px;
        }

        .satisfaction {
            height: 100%;
            padding: 60px 45px;
            transition: 0.3s;
            background: #fff;
            color: #000000;
            border-radius: 30px;
        }

        .satisfaction-icon {
            max-height: 55px;
            margin-right: 20px;
        }

        .bg-pink {
            background: #e41e5b;
            padding: 250px;
            margin-top: -400px;
        }